.Button {
  padding: 8px 16px;
  margin: 0 auto;
  width: fit-content;
  border-radius: 2px;
  background-color: #24520ea8;
  transition: all 250ms linear;
  text-align: center;
  display: inline-block;
  color: #fff;
  border: 0;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: 500;
  min-width: 180px;
}

.Button:hover,
.Button:focus {
  background-color: #24520e;
}